<div class="card col me-3" style="width: 20rem;">
  <div class="card-category">
    <div id="<%= dom_id list %>">
      <p>
        <strong>Name:</strong>
        <%= list.name %>
      </p>
      <p>
        <%= link_to "Show this list", list %>
      </p>
    </div>
  </div>
</div>
