<div class="card col me-3" style="width: 20rem;">
  <div class="card-category">
    <div id="<%= dom_id list %>">
      <p>
        <strong>Name:</strong>
        <%= list.name %>
      </p>
        <% if list.photo.attached? %>

          <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      <p>
        <%= link_to "Show this list", list %>
      </p>
    </div>
  </div>
</div>
